 <div class="col-xs-12 col-sm-12 col-md-4">
    <strong class="VOIP">VOIP</strong>
    <div class="info row text-left">
         <div class="col-xs-12 row">
                <div class="col-xs-12">SIP Trunks:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_sip" class="form-control" placeholder="{{ default_prices.sip}}" >
                </div>
          </div>
          <div class="col-xs-12 row">
                <div class="col-xs-12">DDI's:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_ddi" class="form-control" placeholder="{{ default_prices.ddi}}">
                </div>
          </div>
          <div class="col-xs-12 row">
                <div class="col-xs-12">PBX Extensions:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_ext" class="form-control" placeholder="{{ default_prices.ext}}">
                </div>
          </div>
          <div class="col-xs-12 row">
                <div class="col-xs-12">Device Cost:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_device" class="form-control" placeholder="{{ default_prices.device}}">
                </div>
          </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-4">
    <strong class="VOIP">Calling</strong>
    <div class="info row text-left">
         <div class="col-xs-12 row">
                <div class="col-xs-12">Local:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_local" class="form-control" placeholder="{{ default_prices.local}}">
                </div>
          </div>
          <div class="col-xs-12 row">
                <div class="col-xs-12">National:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_national" class="form-control" placeholder="{{ default_prices.national}}">
                </div>
          </div>
          <div class="col-xs-12 row">
                <div class="col-xs-12">Mobile:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_mobile" class="form-control" placeholder="{{ default_prices.mobile}}">
                </div>
          </div>
          <div class="col-xs-12 row">
                <div class="col-xs-12">International Zone 1:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_intz1" class="form-control" placeholder="{{ default_prices.intz1}}">
                </div>
          </div>
          <div class="col-xs-12 row">
                <div class="col-xs-12">International Zone 2:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_intz2" class="form-control" placeholder="{{ default_prices.intz2}}">
                </div>
          </div>
          <div class="col-xs-12 row">
                <div class="col-xs-12">International Zone 3:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_intz3" class="form-control" placeholder="{{ default_prices.intz3}}">
                </div>
          </div>
    </div>
    
</div>
<div class="col-xs-12 col-sm-12 col-md-4">
    <strong class="VOIP">Toll Free</strong>
    <div class="info row text-left">
         <div class="col-xs-12 row">
                <div class="col-xs-12">Local:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_tf_local" class="form-control" placeholder="{{ default_prices.tf_local}}">
                </div>
          </div>
          <div class="col-xs-12 row">
                <div class="col-xs-12">National:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_tf_nat" class="form-control" placeholder="{{ default_prices.tf_nat}}">
                </div>
          </div>
          <div class="col-xs-12 row">
                <div class="col-xs-12">Mobile:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_tf_mob" class="form-control" placeholder="{{ default_prices.tf_mob}}">
                </div>
          </div>
          <div class="col-xs-12 row">
                <div class="col-xs-12">Minimum:</div>
                <div class="col-xs-12">
                  <input type="text" name="price_tf_min" class="form-control" placeholder="{{ default_prices.tf_min}}">
                </div>
          </div>
    </div>
    
</div>