
<div class="modal base-modal" tabindex="-1" role="dialog" aria-labelledby="appmodal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content col-xs-12">
    	<div class="modal-header">
	        <strong class="modal-title" id="exampleModalLabel">Modal Title</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	    </div>
	      <div class="modal-body col-xs-12">Modal Body</div>
	      <input type="hidden" class="action" />
	      <div class="modal-footer col-xs-12">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-warning action-btn">Modal Button</button>
	      </div>
    </div>
  </div>
</div>


<div class="modal create-acc" tabindex="-1" role="dialog" aria-labelledby="appmodal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content col-xs-12 row ">
	    <div class="modal-body row col-xs-12"></div>
    </div>
  </div>
</div>
