{% load define_action %}
{% if data.isSuccess == True %}
	{% if data.data.clients %}
	{% endif %}
{% endif %}
<style>
    span.select2-selection{border-radius: 4px!important; height: 34px!important; padding-top: 2px;}
    .panel.Direct-bg{border-color:#8a4512;}
    .panel.Wholesale-bg{border-color:#9e9900;}
    .panel.Whitelabel-bg{border-color:#2f5596;}
    .panel.Direct-bg .panel-heading{background-color:#8a4512;}
    .panel.Wholesale-bg .panel-heading{background-color:#9e9900;}
    .panel.Whitelabel-bg .panel-heading{background-color:#2f5596;}
    .panel-heading{color:white!important;}
    .panel-heading a {color:white!important;}
</style>
<div class="panel panel-default {{data.data.clients.type}}-bg">
    <div class="panel-heading">Sales Agent : {{ data.data.clients.staff_agent_name}}
    	<a class="btn pull-right acc-info-colapse-invokr" data-toggle="collapse" href=".acc-info-panel" aria-expanded="false" title="Hide Info">
			<i class="fa fa-minus"></i>
			</a>
    </div>
    <div class="panel-body acc-info-panel collapse show">
    	<form action="{{request.META.HTTP_NAME }}/client/editClient" >
	        <div class="form-group col-xs-12 col-sm-6 col-md-3">
	            <label class="col-xs-12 col-sm-12 col-md-3">ID:</label>
	            <div class="col-xs-12 col-sm-12 col-md-9">
	                <input type="text" class="form-control" readonly="readonly" placeholder="" value="{{data.data.clients.client_id}}">
	                <input type="hidden" name="client_id" value="{{data.data.clients.client_id}}"  />
	            </div>
	        </div>

	        <div class="form-group col-xs-12 col-sm-6 col-md-3">
	            <label class="col-xs-12 col-sm-12 col-md-4">Customer:</label>
	            <div class="col-xs-12 col-sm-12 col-md-8">
	                <input type="text" class="form-control" placeholder="" value="{{data.data.clients.client_name|noneCheck}}" name="client_name">
	            </div>
	        </div>
	        <div class="form-group col-xs-12 col-sm-6 col-md-3">
	            <label class="col-xs-12 col-sm-12 col-md-4">Trading As:</label>
	            <div class="col-xs-12 col-sm-12 col-md-8">
	                <input type="text" class="form-control" placeholder="" value="{{data.data.clients.trading_as|noneCheck}}" name="trading_as">
	            </div>
	        </div>
	        <div class="form-group col-xs-12 col-sm-6 col-md-3">
	            <label class="col-xs-12 col-sm-12 col-md-4">Bill Email:</label>
	            <div class="col-xs-12 col-sm-12 col-md-8">
	                <input type="text" class="form-control" placeholder="" value="{{data.data.clients.client_email|noneCheck}}" name="client_email">
	            </div>
	        </div>

	        <div class="form-group col-xs-12 col-sm-12 col-md-3">
				<div class="col-xs-12"><h5><strong>Postal Address</strong></h5> </div>
	            <div class="col-xs-11">
	                <input type="text" class="form-control form-group" value="{{data.data.clients.postal_address_1|noneCheck}}" placeholder="" name="postal_address_1">
	            </div>
	            <div class="col-xs-11">
	                <input type="text" class="form-control form-group" value="{{data.data.clients.postal_address_2|noneCheck}}" placeholder="" name="postal_address_2">
	            </div>
	            <div class="col-xs-11">
	                <input type="text" class="form-control form-group" value="{{data.data.clients.postal_address_3|noneCheck}}" placeholder="" name="postal_address_3">
	            </div>
	        </div>
	        <div class="form-group col-xs-12 col-sm-12 col-md-3">
				<div class="col-xs-12"><h5><strong>Physical Address</strong></h5> </div>
	            <div class="col-xs-11">
	                <input type="text" class="form-control form-group" value="{{data.data.clients.physical_address_1|noneCheck}}" placeholder="" name="physical_address_1">
	            </div>
	            <div class="col-xs-11">
	                <input type="text" class="form-control form-group" value="{{data.data.clients.physical_address_2|noneCheck}}" placeholder="" name="physical_address_2">
	            </div>
	            <div class="col-xs-11">
	                <input type="text" class="form-control form-group" value="{{data.data.clients.area|noneCheck}}" placeholder="" name="area">
	            </div>
	        </div>
    		<div class="form-group col-xs-12 col-sm-12 col-md-3">
    			<div class="col-xs-12"><h5><strong>Rate Plans and Charging</strong></h5> </div>
	            <label class="col-xs-12" style="margin-bottom: 1px;padding-left:0">Inter- national:</label>
	            <div class="col-xs-11">
	                <input type="text" class="form-control" style="margin-bottom: 4px" placeholder="" value="{{data.data.clients.international_voip_rate_plan|noneCheck}}" name="international_voip_rate_plan">
	            </div>
	            <label class="col-xs-12" style="margin-bottom: 1px;padding-left:0"">National:</label>
	            <div class="col-xs-11">
	                <input type="text" class="form-control" placeholder="" value="{{data.data.clients.national_voip_rate_plan|noneCheck}}" name="national_voip_rate_plan">
	            </div>
	        </div>
	        <div class="form-group col-xs-12 col-sm-12 col-md-3">
	            <label class="col-xs-12">Rating:</label>
	            <div class="col-xs-11">
	                <input type="text" class="form-control" placeholder="" value="{{data.data.clients.client_rating|noneCheck}}" name="client_rating">
	            </div>
	        	<div class="form-group col-xs-12">
	        	  	<span class="button-checkbox">
			        	<button type="button" class="btn btn-primary pull-right wl-enable-btn">
			        	{% if data.data.clients.wl_enabled == True %}
			        		<i class="state-icon fa fa-check"></i> 
			        	{% else %}
			        		<i class="state-icon fa fa-square"></i> 
			        	{% endif %}
			        	White Label Enabled</button>
			        	<input type="hidden" name="wl_enabled" value="{{data.data.clients.wl_enabled}}" />
			    	</span>
	        	</div>
	        </div>
        </form>
    </div>
</div>
<script type="text/javascript">
	$('.acc-info-panel').on('hidden.bs.collapse', function () {
		$('.acc-info-colapse-invokr').html('<i class="fa fa-plus"></i>');
	})
	$('.acc-info-panel').on('shown.bs.collapse', function () {
		$('.acc-info-colapse-invokr').html('<i class="fa fa-minus"></i>');
	})
    $.ajax({
      url: "{{request.META.HTTP_NAME }}/payment/getPaymentOptions",
      success: function( data ) {
        	$('select[name="payment_option"]').html(data);
        	$('.placeholders .paymentOptions').html(data);
            $('select[name="payment_option"]').val('{{data.data.clients.payment_option}}').trigger('change.select2');
        }
    }) 
    $.ajax({
      url: "{{request.META.HTTP_NAME }}/staff/getAllStaffs",
      success: function( data ) {
        $('.placeholders .staffs').html(data);
        $('select[name="staff_and_agents_id"]').html(data);
            $('select[name="staff_and_agents_id"]').val('{{data.data.clients.staff_and_agents_id}}').trigger('change.select2');
        }
    })
</script>